@use "sass:list";
@use "variables" as *;

#cabecera{
    table{

        text-align: center;
        border-collapse: collapse;

        td{
            border: 1px solid black;
            padding: 10px;
            width: 250px;
        }

        //La variable $i va desde uno hasta la longitud de la lista $colores.
        @for $i from 1 through list.length($colores){
            //Selecciona el elemento de cada iteración.
            tr:nth-child(#{$i}){
                background-color:list.nth($list: $colores, $n: $i); //Selecciona el color $i de la lista $colore.
            } 
        }
    }
}

#pie {
    // Bucle para asignar los tamaños a cada h.
    @each $etiqueta, $size in $etiquetasH {
      #{$etiqueta} {
        font-size: $size;
      }
    }
  }
  