.technologies-container {
    text-align: center;
    margin-top: 4rem;
}

.title {
    text-align: center;
    margin-bottom: 50px;
}

.title h1 {
    font-size: 42px;
    /* Define el tamaño del texto del título */
    background: linear-gradient(90deg, #3f51b5, #7986cb);
    /* Aplica un degradado horizontal de azul oscuro a azul claro como fondo */
    -webkit-background-clip: text;
    /* Recorta el fondo (degradado) para que solo se vea dentro del texto */
    -webkit-text-fill-color: transparent;
    /* Hace el texto transparente para que el degradado de fondo se vea a través de él */
    font-weight: bold;
    /* Establece el texto en negrita */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    /* Añade una sombra suave al texto para mejorar la legibilidad */
}

.technologies-container {
    text-align: center;
    padding: 4rem 2rem;
}

.title h1 {
    font-size: 42px;
    background: linear-gradient(90deg, #3f51b5, #7986cb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
}
/*
.tech-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 2rem;
    margin-top: 3rem;
    justify-items: center;
}*/

.tech-card {
    background-color: #e8eaf6;
    padding: 1.5rem;
    border-radius: 12px;
    width: 150px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    margin-top: 50px;
}

.tech-card:hover {
    transform: translateY(-5px);
}

.tech-icon {
    font-size: 48px;
    color: #3f51b5;
    margin-bottom: 1rem;
}

.tech-name {
  font-weight: 600;
  font-size: 1rem;
  color: #1a237e;
  margin-top: 0.5rem;
  letter-spacing: 0.5px;
}

.tech-image {
  width: 80px;
  height: 80px;
  object-fit: contain;
  margin-bottom: 1rem;
}

.tech-card:hover .tech-image {
  transform: scale(1.3);
}

.subtitle{
    margin: 100px 0 100px 0;
}
/*
.tech2-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    margin-top: 3rem;
    justify-items: center;
}*/

.subtitleOS{
    margin: 100px 0 100px 0;
}
/*
.OS-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    margin-top: 3rem;
    justify-items: center;
}
*/
.tech-grid,
.tech2-grid,
.OS-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 80px;
  margin-top: 3rem;
  justify-items: center;
  max-width: 90%; /* limita el ancho total */
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1080px) {
    .tech-grid,
    .tech2-grid,
    .OS-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 170px;
        margin-top: 3rem;
        justify-items: center;
        max-width: 80%; /* limita el ancho total */
        margin-left: auto;
        margin-right: auto;
    }
}