<!-- Home Section -->
<section id="home" class="primary-gradient-bottom mat-elevation-z4 py-5">
    <div class="container-lg">
      <div class="mat-card row text-center text-md-start align-items-center ola">
        <div class="col-sm-6 fs-4">
          <h1 class="mat-display-2 fw-bold">Jaime Bonilla</h1>
          <p>I'm a person who aspire to work as programmer.
            <b>I consider myself an organized and responsible person, always willing to learn and give my best.</b> I love building something new, 
            productive, innovative, and creative, as well as exploring new technologies and developing programming skills.
            </p>
          <!-- Botón de Proyectos con Angular Material -->
          <a class="btn btn-outline-dark d-block mx-auto" href="#projects">Projects</a>
        </div>
        <div class="col-sm-6 text-end">
          <img src="../../assets/images/yo.png" class="img-fluid mat-card-image w-150 mx-auto d-block Me" alt="">
        </div>
      </div>
    </div>
  </section>
  
  <!-- Separador de Ola -->
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path fill="#aec6f1" fill-opacity="1" d="M0,128L60,112C120,96,240,64,360,90.7C480,117,600,203,720,234.7C840,267,960,245,1080,218.7C1200,192,1320,160,1380,144L1440,128L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"></path>
  </svg>
  
  <!-- Projects Section -->
  <div id="projects" class="section projects mat-elevation-z4 bg-light py-5">
    <div class="container">
      <h2 class="mat-display-5 fw-bold text-start mb-3">Projects</h2>
      <h3>Some of my latest repositories from my course</h3>
  
      <!-- Carousel usando Bootstrap -->
      <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
  
        <div class="carousel-inner py-5">
          <div class="carousel-item active">
            <a href="https://github.com/JaimeBonBol/RepasoProgramacionJava" target="_blank">
              <img src="../../assets/images/java-repo.webp" class="d-block w-100 bg-secondary rounded-5" alt="Java Repo">
            </a>
            <div class="carousel-caption d-none d-md-block">
              <h5 class="text-knowledge fw-bold fst-italic">Repository of Java subject</h5>
            </div>
          </div>
          <div class="carousel-item">
            <a href="https://github.com/JaimeBonBol/Lenguaje_de_Marcas" target="_blank">
              <img src="../../assets/images/disenio-web.webp" class="d-block w-100 bg-secondary rounded-5" alt="Marks Language">
            </a>
            <div class="carousel-caption d-none d-md-block">
              <h5 class="text-dark fw-bold fst-italic">Repository of Marks Language subjects</h5>
            </div>
          </div>
          <div class="carousel-item">
            <a href="https://github.com/JaimeBonBol/BBDD" target="_blank">
              <img src="../../assets/images/mysqlrepo.webp" class="d-block w-100 bg-secondary rounded-5" alt="DataBase Repo">
            </a>
            <div class="carousel-caption d-none d-md-block">
              <h5 class="text-dark fw-bold fst-italic">Repository of DataBases subject</h5>
            </div>
          </div>
        </div>
  
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon bg-dark rounded-3" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
  
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon bg-dark rounded-3" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
  