<div class="home-container">
    <div class="intro">
        <h1>Hi, I'm Jaime Bonilla!</h1>
        <p>I'm a person who aspire to work as programmer.
            <b>I consider myself an organized and responsible person, always willing to learn and give my best.</b> I love building something new, 
            productive, innovative, and creative, as well as exploring new technologies and developing programming skills.
        </p>
    </div>

    <div class="avatar">
        <img src="../../assets/images/yo.png" alt="Avatar" class="avatar-img">
    </div>

    <div class="cta-buttons">
        <a mat-stroked-button color="accent" href="#projects" class="fs-4" id="projects-button"> <mat-icon>assignment</mat-icon> Projects</a>
    </div>
</div>


<div id="projects" class="projects-section">
    <h1>Projects</h1>
    <h2>Some of my latests repositories from my course</h2>
    <div class="projects-grid">
        <div class="project-card" *ngFor="let project of projects">
            <a [href]="project.link" target="_blank" rel="noopener">
              <div class="project-image">
                <img [src]="project.image" alt="Proyecto {{ project.name }}">
              </div>
              <div class="project-title">
                {{ project.name }}
              </div>
            </a>
        </div>  
    </div>
</div>