//Variables colores
$azul: #54aeff;
$verde: #46c925;

#cabecera{
    color: $azul;
    background-color: $verde;
}

#contenido{
    background-color: $verde;    
}

#pie{
    color: $verde;
    background-color: $azul;
}