<div class="formation-container">
    <h1>Formation</h1>

    <mat-card *ngFor="let course of courses" class="formation-card">
        <mat-card-header>
            <mat-card-title><h2>{{course.title}}</h2></mat-card-title>
            <!--<mat-card-subtitle>Subtitle</mat-card-subtitle>-->
        </mat-card-header>
        <mat-card-content>
            <p>{{ course.where }}</p>
        </mat-card-content>
        <mat-card-footer>
            <p>{{course.during}}</p>
        </mat-card-footer>
    </mat-card>
</div>