<section id="formation"  class="py-5">
    <div class="container">
        <h2 class="mat-display-1 mb-5 text-center fs-2">Formation</h2>

        <mat-card class="mb-5 mat-elevation-z4 primary-gradient-bottom fs-5">
            <mat-card-header class="mb-3">
                <mat-card-title class="text-center fw-bold">
                    <mat-icon class="fw-bold">computer</mat-icon> CFGS Automatización y Robótica
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <ul class="mat-body-1">
                    <li>Ciclo Formativo Grado Superior Automatización y Robótica</li>
                    <li>2020 - 2022</li>
                    <li>Salesianos C.D.P San Luis Rey, Palma del Río</li>
                </ul>
            </mat-card-content>
        </mat-card>

        <mat-card class="mb-5 mat-elevation-z4 primary-gradient-bottom fs-5">
            <mat-card-header class="mb-3">
                <mat-card-title class="text-center fw-bold">
                    <mat-icon class="fw-bold">engineering</mat-icon> CE Fabricación Inteligente
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <ul class="mat-body-1">
                    <li>Curso de Especialización en Fabricación Inteligente</li>
                    <li>2022 - 2023</li>
                    <li>IES Zoco, Córdoba</li>
                </ul>
            </mat-card-content>
        </mat-card>

        <mat-card class="mb-5 mat-elevation-z4 primary-gradient-bottom fs-5">
            <mat-card-header class="mb-3">
                <mat-card-title class="text-center fw-bold">
                    <mat-icon class="fw-bold">code</mat-icon> CFGS Desarrollo de Aplicaciones Multiplataforma
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <ul class="mat-body-1">
                    <li>Ciclo Formativo Grado Superior Desarrollo de Aplicaciones Multiplataforma</li>
                    <li>2024 - Actualidad</li>
                    <li>IES Antonio Gala, Palma del Río</li>
                </ul>
            </mat-card-content>
        </mat-card>
    </div>
</section>