<div class="formation-container">
  <div class="title">
    <h1>Formation</h1>
  </div>

  <mat-card *ngFor="let course of courses" class="formation-card">
    <mat-card-header>
      <mat-card-title>
        <h2>{{ course.title }}</h2>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>{{ course.where }}</p>
    </mat-card-content>
    <mat-card-footer>
      <p>{{ course.during }}</p>
    </mat-card-footer>
  </mat-card>

  <!--
            <mat-table [dataSource]="courses">
            <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef> Title </th>
                <td mat-cell *matCellDef="let course"> {{ course.getTitle() }} </td>
                     
              </ng-container>
            
              <ng-container matColumnDef="where">
                <th mat-header-cell *matHeaderCellDef> Where </th>
                <td mat-cell *matCellDef="let course"> {{ course.getWhere() }} </td>
              </ng-container>
            
              <ng-container matColumnDef="during">
                <th mat-header-cell *matHeaderCellDef> During </th>
                <td mat-cell *matCellDef="let course"> {{ course.getDuring() }} </td>
              </ng-container>
            
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
               
        </mat-table>
  -->

</div>