<mat-toolbar class="movilMenu">
    <h1><b>Software Developer</b></h1>
    <span class="spacer"></span>
    <a mat-button [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></a>

    <mat-menu #menu>
        <a mat-button routerLink="/" routerLinkActive="active" class="menu-item"> <mat-icon>person</mat-icon> Home</a>
        <a mat-button routerLink="/formation" routerLinkActive="active" class="menu-item"> <mat-icon>school</mat-icon> Formation</a>
        <a mat-button routerLink="/experience" routerLinkActive="active" class="menu-item"> <mat-icon>work</mat-icon> Experience</a>
        <a mat-button routerLink="/tech" routerLinkActive="active" class="menu-item"> <mat-icon>devices</mat-icon> Technologies</a>
        <a mat-button routerLink="/more" routerLinkActive="active" class="menu-item"> <mat-icon>person</mat-icon> More About Me!</a>
        <a mat-stroked-button color="accent" routerLink="/contact" routerLinkActive="active" class="menu-item" id="talk"> <mat-icon>chat</mat-icon> Let's talk</a>
    </mat-menu>
</mat-toolbar>

<mat-toolbar class="pcMenu">
    <h1><b>Software Developer</b></h1>
    <span class="spacer"></span>
    <a mat-button routerLink="/" routerLinkActive="active" class="fs-4"> <mat-icon>person</mat-icon> Home</a>
    <a mat-button routerLink="/formation" routerLinkActive="active" class="fs-4"> <mat-icon>school</mat-icon> Formation</a>
    <a mat-button routerLink="/experience" routerLinkActive="active" class="fs-4"> <mat-icon>work</mat-icon> Experience</a>
    <a mat-button routerLink="/tech" routerLinkActive="active" class="fs-4"> <mat-icon>devices</mat-icon> Technologies</a>
    <a mat-button routerLink="/more" routerLinkActive="active" class="fs-4"> <mat-icon>person</mat-icon> More About Me!</a>
    <a mat-stroked-button color="accent" routerLink="/contact" routerLinkActive="active" id="talk"> <mat-icon>chat</mat-icon> Let's talk</a>
</mat-toolbar>
