<div class="more-about-me-container">
  <div class="about-title">
    <h1>More About Me</h1>
    <h2>Beyond the code...</h2>
  </div>

  <div class="about-grid">
    <div class="about-card">
      <img src="assets/hobbies.png" alt="Hobbies" class="about-icon" />
      <h3>Basic knowledge of automaton programming</h3>
      <p>Knowledge of PLCs in automated industrial fuse boxs wiring, as well as understanding and creating electrical plans.</p>
    </div>
    <div class="about-card">
      <img src="assets/pets.png" alt="Pets" class="about-icon" />
      <h3>Languages</h3>
      <p>Cambridge English level B1. Currently forming for B2 level</p>
    </div>
    <div class="about-card">
      <img src="assets/values.png" alt="Values" class="about-icon" />
      <h3>Driving licences</h3>
      <p>Car driving license.</p>
    </div> 
    <div class="about-card">
      <img src="assets/values.png" alt="Values" class="about-icon" />
      <h3>What defines me</h3>
      <p>Responsible and communicative</p>
      <p>Ability to work in group</p>
      <p>Always willing to learn and improve.</p>
    </div>   
    <div class="about-card">
      <img src="assets/values.png" alt="Values" class="about-icon" />
      <h3>What drives me</h3>
      <p>🌱 Constant learning, 💡 creativity, and building things that matter.</p>
    </div>
  </div>

  <div class="about-footer">
    <p>Want to know more? Let’s connect! 🚀</p>
    <a href="#contact" class="contact-link">Contact me</a>
  </div>
</div>
