body{
    height: 100vh;
    width: 100vw;
    margin: 0;
}

#wrapper{
    display: grid;
    grid-template-rows:10fr 40fr 1fr ;
    grid-template-areas: "cabecera"
                        "contenido"
                        "pie";
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#cabecera{
    grid-area: cabecera;
    background-color:black;
}

#contenido{
    grid-area: contenido;
    background-color: white;
    display: flex;
    flex-direction: row;
    gap: 300px;
}

#pie{
    grid-area: pie;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 18px;
}


#cabecera header h1{
    color: white;
    text-align: center;
}

#cabecera header p{
    background-color: white;
    color: black;
    text-align: end;
}

#cabecera nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 80px;
    color: white;
    font-size: 20px;
}

.ultimasNoticias {
    width: 30%;
    background-color: white;
    color: white;
    padding: 10px;
}

.ultimasNoticias h4 {
    margin-top: 0;
    text-align: center;
    background-color: black;
    padding: 10px ;
}

.listaNoticias {
    list-style: none;
    padding: 0;
    margin: 0;
}

.listaNoticias li {
    padding: 10px;
    color: black;
}

.listaNoticias .gris {
    background-color: gray;
}

.listaNoticias .blanco {
    background-color: white;
    color: black;
}

.listaNoticias li:last-child{
    height: 300px;
}

.contenidoCentro{
    height: 350px;
    width: 350px;
    margin-top: 30px;
    display: flex;
    flex-direction: column  ;
    align-items: center;
    background-color: gray;
}

.imagenAnonymous{
    height: 250px;
    
    padding: 20px 10px 0 10px;
}

.contenidoCentro p{
    font-size: 20px;
    text-align: center;
}

.contenidoZonaPrivada{
    font-size: 20px;
    width: 500px;
}

.contenidoZonaPrivada input{
    height: 30px;
    width: 175px;
}

.contenidoZonaPrivada button{
    height: 30px;
    width: 80px;
}

.contenidoZonaPrivada h4{
    background-color: black;
    color: white;
    text-align: center;
    width: 100%;
}