body{
    width: 100vw;
    height: 100vh;
    margin: 0;
}

#wrapper{
    display: grid;
    grid-template-columns: 100vw;
    grid-template-areas: "cabecera"
                        "contenido"
                        "pie ";
}

#cabecera{
    grid-area: cabecera;
    background-color:lightskyblue;
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

#contenido{
    grid-area: contenido;
    background-color: lightskyblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#pie{
    grid-area: pie;
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 100%;
}

.letrasTitulo{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic
}

.botonRegistrar>button{
    color: white;
    background-color: rgba(7, 7, 7, 0.788);
    border-radius: 5px;
}

.opcionesPie{
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.842);
    border-radius: 5px;
    width: 90%;
    justify-content: center;
    align-items: center;
    
}

.opciones{
    background-color: rgba(255, 255, 255, 0.664);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5px 10px 5px 10px;
    gap: 10px;
}

.botonEntrar> button{
    background-color: transparent;
    color: white;
}


.subtitulo>h1{
    color: white;
    font-size: 40px;
}

.signup{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup>button{
    background-color: red;
    color: white;
    border-radius: 5px;
    width: 150px;
}

.signup>a{
    font-size: 10px;
}

#pie>h2{
    color: rgb(94, 94, 94);
}

.opcionPie1, .opcionPie2, .opcionPie3, .opcionPie4 {
    background-color: rgba(255, 255, 255, 0.842);
    border-radius: 15px;
    width: 100%;  /* Ancho fijo para cada item */
    display: flex;
    flex-direction: column;  /* Los elementos dentro de cada opción se organizarán en columna */
    align-items: center;  /* Centra los contenidos de cada opción */
    text-align: center;
}

.imagenMono{
    display: none;
}


@media (min-width: 600px) {

    body{
        width: 100vw;
        margin: 0;
    }

    #wrapper{
        grid-template-columns: 30vw 70vw;
        grid-template-areas: "cabecera contenido"
                            "pie pie "
                            ;
        width: 100vw;
        height: 100vh;
    }

    
    #cabecera{
        grid-area: cabecera;
        background-color:lightskyblue;
        display: flex;
        flex-direction: column;
        gap: 10px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    
    }
    
    #contenido{
        grid-area: contenido;
        background-color: lightskyblue;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    #pie{
        grid-area: pie;
        background-color: lightgrey;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    
    .letrasTitulo{
        color: white;
        font-family: 'Courier New', Courier, monospace;
        font-style: italic
    }
    
    .botonRegistrar>button{
        color: white;
        background-color: rgba(7, 7, 7, 0.788);
        border-radius: 5px;
    }
    
    .opcionesPie{
        display: flex;
        flex-direction: row;
        background-color: rgba(255, 255, 255, 0.842);
        border-radius: 5px;
        width: 90%;
        height: 100%;
        justify-content: center;
        align-items: center;
        
    }
    
    .opciones{
        background-color: rgba(255, 255, 255, 0.664);
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 5px 10px 5px 10px;
        gap: 10px;
    }
    
    .botonEntrar> button{
        background-color: transparent;
        color: white;
    }
    
    
    .subtitulo>h1{
        color: white;
        font-size: 40px;
    }
    
    .signup{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .signup>button{
        background-color: red;
        color: white;
        border-radius: 5px;
        width: 150px;
    }
    
    .signup>a{
        font-size: 10px;
    }
    
    #pie>h2{
        color: rgb(94, 94, 94);
    }
    
    .opcionPie1, .opcionPie2, .opcionPie3, .opcionPie4 {
        background-color: rgba(255, 255, 255, 0.842);
        border-radius: 15px;
        width: 100%;  /* Ancho fijo para cada item */
        display: flex;
        flex-direction: column;  /* Los elementos dentro de cada opción se organizarán en columna */
        align-items: center;  /* Centra los contenidos de cada opción */
        text-align: center;
    }

    .imagenMono{
        display: block;
    }
    
}

@media (min-width: 1000px){

    body{
        margin: 0;
        padding: 0;
        width: 100vw; 
    }
    
    #wrapper{
        display: grid;
        grid-template-columns: 100vw;
        grid-template-areas: "cabecera"
                            "contenido"
                            "pie";
        width: 100vw;
        height: 100vh;
    }
    
    #cabecera{
        grid-area: cabecera;
        background-color:lightskyblue;
        display: flex;
        flex-direction: row;
        gap: 10px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    
    }
    
    #contenido{
        grid-area: contenido;
        background-color: lightskyblue;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    #pie{
        grid-area: pie;
        background-color: lightgrey;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    
    .letrasTitulo{
        color: white;
        font-family: 'Courier New', Courier, monospace;
        font-style: italic
    }
    
    .botonRegistrar>button{
        color: white;
        background-color: rgba(7, 7, 7, 0.788);
        border-radius: 5px;
    }
    
    .opcionesPie{
        display: flex;
        flex-direction: row;
        background-color: transparent;
        border-radius: 5px;
        width: 90%;
        height: 100%;
        justify-content: center;
        align-items: center;
        
    }
    
    .opciones{
        background-color: rgba(255, 255, 255, 0.664);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 5px 10px 5px 10px;
        gap: 10px;
    }
    
    .botonEntrar> button{
        background-color: transparent;
        color: white;
    }
    
    
    .subtitulo>h1{
        color: white;
        font-size: 40px;
    }
    
    .signup{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .signup>button{
        background-color: red;
        color: white;
        border-radius: 5px;
        width: 150px;
    }
    
    .signup>a{
        font-size: 10px;
    }
    
    #pie>h2{
        color: rgb(94, 94, 94);
    }
    
    .opcionPie1, .opcionPie2, .opcionPie3, .opcionPie4 {
        background-color: rgba(255, 255, 255, 0.842);
        width: 100%;  /* Ancho fijo para cada item */
        border-radius: 0;
        display: flex;
        flex-direction: column;  /* Los elementos dentro de cada opción se organizarán en columna */
        align-items: center;  /* Centra los contenidos de cada opción */
        text-align: center;
    }

    .opcionPie1{
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    .opcionPie4{
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .subtitulo{
        width: 500px;
    }

    .imagenMono{
        display: block;
    }
    
}